<form {{action 'save' on='submit'}}>
nombre
{{input type='text' value=evento.nombre}}
<!--binding directo-->
inicio
{{input type='date' value=evento.inicio}}
fin
{{input type='date' value=evento.fin}}


<!--Aqui van los campos para llenar las actividades-->

<br>
<button type='button' {{action 'saveActivity'}}>Añadir Actividad</button>

<ul>
	{{#each evento.actividades as |a|}}
		<li>
			{{fields-actividades actividad=a}}
		</li>
	{{/each}}
</ul>

<hr>
<button>Guardar</button>

</form>